<main>
  <div class="flex col-12">
    <img [src]="parana" alt="Logo do estado do Paraná" height="100px">
    <h6>Dashboard Covid Paraná</h6>
  </div>


  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="casos">
        <h4>Casos <i class="fas fa-file-medical-alt"></i></h4>
        <p>{{dados && dados.cases}}</p>
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3"> <p-card styleClass="mortes">
        <h4>Mortes <i class="fas fa-skull-crossbones"></i></h4>
        <p>{{dados && dados.deaths}}</p>
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="suspeitos">
        <h4>Suspeitos <i class="fas fa-head-side-cough"></i></h4>
        <p>{{dados && dados.suspects}}</p>
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="recuperados">
        <h4>Recuperados <i class="fas fa-heart"></i></h4>
        <p>{{dados && dados.refuses}}</p>
      </p-card>
    </div>
  </div>

  <div class="footer">
    <img [src]="unopar" alt="Logo Unopar" width="100px">
    <h3>Curso em Análise e Desenvolvimento de Sistemas</h3>
  </div>

</main>